node_modules/

watcher_trigger/*
!watcher_trigger/.gitkeep

data/metadata-history/*
!data/metadata-history/.gitkeep

# development
metadata_tmp/

.DS_Store

# vscode payload should not be ignored at all, node_modules are also important.
# same goes for dist folders.
!/public/console/vscode-payload/**/*
.DS_Store
